PCMI.DeveloperTest.WebForms/PCMI.DeveloperTest.Web.WebForms/obj/Debug/build.force
PCMI.DeveloperTest.WebForms/PCMI.DeveloperTest.Web.WebForms/bin/DevExpress.RichEdit.v16.1.Core.dll
PCMI.DeveloperTest.WebForms/PCMI.DeveloperTest.Web.WebForms/bin/DevExpress.Printing.v16.1.Core.dll
PCMI.DeveloperTest.WebForms/PCMI.DeveloperTest.Web.WebForms/bin/DevExpress.Data.v16.1.dll
PCMI.DeveloperTest.WebForms/PCMI.DeveloperTest.Model/bin/Debug/PCMI.DeveloperTest.Model.pdb
PCMI.DeveloperTest.WebForms/PCMI.DeveloperTest.BLL/obj/Debug/PCMI.DeveloperTest.BLL.csproj.FileListAbsolute.txt
PCMI.DeveloperTest.WebForms/PCMI.DeveloperTest.BLL/obj/Debug/PCMI.DeveloperTest.BLL.csproj.CoreCompileInputs.cache
PCMI.DeveloperTest.WebForms/PCMI.DeveloperTest.BLL/obj/Debug/PCMI.DeveloperTest.BLL.csproj.CopyComplete
PCMI.DeveloperTest.WebForms/PCMI.DeveloperTest.BLL/bin/Debug/PCMI.DeveloperTest.Model.pdb
PCMI.DeveloperTest.WebForms/PCMI.DeveloperTest.BLL/bin/Debug/PCMI.DeveloperTest.Model.dll
PCMI.DeveloperTest.WebForms/PCMI.DeveloperTest.BLL/bin/Debug/PCMI.DeveloperTest.BLL.pdb
PCMI.DeveloperTest.WebForms/PCMI.DeveloperTest.BLL/bin/Debug/PCMI.DeveloperTest.BLL.dll
PCMI.DeveloperTest.WebForms/PCMI.DeveloperTest.Web.WebForms/obj/Debug/PCMI.DeveloperTest.Web.WebForms.dll
PCMI.DeveloperTest.WebForms/PCMI.DeveloperTest.Web.WebForms/obj/Debug/PCMI.DeveloperTest.Web.WebForms.csprojAssemblyReference.cache
PCMI.DeveloperTest.WebForms/PCMI.DeveloperTest.Web.WebForms/obj/Debug/PCMI.DeveloperTest.Web.WebForms.csproj.FileListAbsolute.txt
PCMI.DeveloperTest.WebForms/PCMI.DeveloperTest.Web.WebForms/obj/Debug/PCMI.DeveloperTest.Web.WebForms.csproj.CoreCompileInputs.cache
PCMI.DeveloperTest.WebForms/PCMI.DeveloperTest.Model/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
PCMI.DeveloperTest.WebForms/PCMI.DeveloperTest.BLL/obj/Debug/PCMI.DeveloperTest.BLL.pdb
PCMI.DeveloperTest.WebForms/PCMI.DeveloperTest.BLL/obj/Debug/PCMI.DeveloperTest.BLL.dll
PCMI.DeveloperTest.WebForms/PCMI.DeveloperTest.BLL/obj/Debug/PCMI.DeveloperTest.BLL.csprojAssemblyReference.cache
PCMI.DeveloperTest.WebForms/PCMI.DeveloperTest.Web.WebForms/bin/PCMI.DeveloperTest.Web.WebForms.dll.config
PCMI.DeveloperTest.WebForms/PCMI.DeveloperTest.Web.WebForms/bin/PCMI.DeveloperTest.Web.WebForms.dll
PCMI.DeveloperTest.WebForms/PCMI.DeveloperTest.Web.WebForms/bin/PCMI.DeveloperTest.Model.pdb
PCMI.DeveloperTest.WebForms/PCMI.DeveloperTest.Web.WebForms/bin/PCMI.DeveloperTest.Model.dll
PCMI.DeveloperTest.WebForms/PCMI.DeveloperTest.Model/bin/Debug/PCMI.DeveloperTest.Model.dll
PCMI.DeveloperTest.WebForms/PCMI.DeveloperTest.BLL/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
PCMI.DeveloperTest.WebForms/PCMI.DeveloperTest.BLL/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
PCMI.DeveloperTest.WebForms/PCMI.DeveloperTest.Web.WebForms/bin/PCMI.DeveloperTest.BLL.pdb
PCMI.DeveloperTest.WebForms/PCMI.DeveloperTest.Web.WebForms/bin/PCMI.DeveloperTest.BLL.dll
PCMI.DeveloperTest.WebForms/PCMI.DeveloperTest.Web.WebForms/bin/DevExpress.Web.v16.1.dll
PCMI.DeveloperTest.WebForms/PCMI.DeveloperTest.Web.WebForms/bin/DevExpress.Web.ASPxThemes.v16.1.dll
PCMI.DeveloperTest.WebForms/PCMI.DeveloperTest.Model/obj/Debug/PCMI.DeveloperTest.Model.csprojAssemblyReference.cache
PCMI.DeveloperTest.WebForms/PCMI.DeveloperTest.BLL/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
PCMI.DeveloperTest.WebForms/PCMI.DeveloperTest.BLL/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
PCMI.DeveloperTest.WebForms/PCMI.DeveloperTest.Web.WebForms/obj/Debug/PCMI.DeveloperTest.Web.WebForms.csproj.CopyComplete
PCMI.DeveloperTest.WebForms/PCMI.DeveloperTest.Web.WebForms/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
PCMI.DeveloperTest.WebForms/PCMI.DeveloperTest.Web.WebForms/obj/Debug/DesignTimeResolveAssemblyReferences.cache
PCMI.DeveloperTest.WebForms/PCMI.DeveloperTest.Web.WebForms/bin/PCMI.DeveloperTest.Web.WebForms.pdb
PCMI.DeveloperTest.WebForms/PCMI.DeveloperTest.Model/obj/Debug/PCMI.DeveloperTest.Model.csproj.FileListAbsolute.txt
PCMI.DeveloperTest.WebForms/PCMI.DeveloperTest.Model/obj/Debug/PCMI.DeveloperTest.Model.csproj.CoreCompileInputs.cache
PCMI.DeveloperTest.WebForms/PCMI.DeveloperTest.Model/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
PCMI.DeveloperTest.WebForms/PCMI.DeveloperTest.Web.WebForms/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
PCMI.DeveloperTest.WebForms/PCMI.DeveloperTest.Web.WebForms/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
PCMI.DeveloperTest.WebForms/PCMI.DeveloperTest.Model/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
PCMI.DeveloperTest.WebForms/PCMI.DeveloperTest.Model/obj/Debug/PCMI.DeveloperTest.Model.pdb
PCMI.DeveloperTest.WebForms/PCMI.DeveloperTest.Model/obj/Debug/PCMI.DeveloperTest.Model.dll
PCMI.DeveloperTest.WebForms/PCMI.DeveloperTest.Web.WebForms/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
PCMI.DeveloperTest.WebForms/PCMI.DeveloperTest.Web.WebForms/obj/Debug/PCMI.DeveloperTest.Web.WebForms.pdb
PCMI.DeveloperTest.WebForms/PCMI.DeveloperTest.Model/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
